<ion-header [translucent]="true">
  <ion-toolbar color="์new">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true"color="b">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">product</ion-title>
    </ion-toolbar>

  </ion-header>
  <ion-grid class="text-center">
    <ion-row>
      <ion-col><img src="assets/product_2/15promax.webp" alt="180"[height]="200" width="180">
        <p>ipone15promax</p>
        <p>ราคา:44,900บาท</p>
        <ion-button size="large">ซื้อ</ion-button>
      </ion-col>
       
      <ion-col><img src="../../../assets/product_2/s24.webp" alt="180"[height]="200" width="180">
        <p>samsung s24 ultira</p>
        <p>ราคา43,900</p> <ion-button size="large">ซื้อ</ion-button></ion-col>
    </ion-row> 

    <ion-row>
    <ion-col><img src="../../../assets/product_2/f23fe.webp" alt="180"[height]="200" width="180">
          <p>f23fe</p>
          <p>ราคา43,900</p> <ion-button size="large">ซื้อ</ion-button></ion-col>

          <ion-col><img src="../../../assets/product_2/ipadair5.webp" alt="180"[height]="200" width="180">
        <p>ipad air 5</p>
        <p>ราคา19,900</p> <ion-button size="large">ซื้อ</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><img src="../../../assets/product_2/mi-14tpro.webp" alt="180"[height]="200" width="180">
            <p>Xiaomi 14 Pro</p>
            <p>ราคา18,600</p> <ion-button size="large">ซื้อ</ion-button></ion-col>
            <ion-col><img src="../../../assets/product_2/ipadair5.webp" alt="180"[height]="200" width="180">
          <p>ipad air 5</p>
          <p>ราคา13,990</p> <ion-button size="large">ซื้อ</ion-button></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><img src="../../../assets/product_2/ts9.webp" alt="180"[height]="200" width="180">
              <p>ts9</p>
              <p>ราคา45,900</p> <ion-button size="large">ซื้อ</ion-button></ion-col>
              <ion-col><img src="../../../assets/product_2/vivo-y20.png" alt="180"[height]="200" width="180">
            <p>vivo Y20</p>
            <p>ราคา5,299</p> <ion-button size="large">ซื้อ</ion-button></ion-col>
        </ion-row>

  </ion-grid>
</ion-content>
